* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {

    min-height: 100vh;
    margin: 0;

}

/* Navbar */


.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 1.3rem 10%;

    box-shadow: 6px 6px 6px rgba(147, 147, 147, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #FFFFFF, transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    width: 143px;
    height: 76px;
}

.navbar a {
    font-size: 1.15rem;
    color: rgba(30, 30, 30, 1);
    text-decoration: none;
    font-weight: 400;
    margin-left: 2.5rem;
}

.navbar a:hover {
    color: #5D70D6;
    text-decoration: underline;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: rgba(30, 30, 30, 1);
    cursor: pointer;
    display: none;
}

/* Style the button and dropdown container */
.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-button {

    border: none;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E2E5F5;

    width: 265px;
    height: 245px;
    z-index: 1;
    border-radius: 4px;

}

/* Style the dropdown links inside the container */
.dropdown-content a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4D4D4D;
    padding: 2%;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    color: #5D70D6;
    text-decoration: underline;
}

/* Show the dropdown content when the button is clicked */
.dropdown-container.active .dropdown-content {
    display: block;
}


/* Business Intelligence */

#bi {
    width: 100%;
    height: auto;
    background: url('/image/bi.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'DM Sans', sans-serif;

}

#bi div {
    padding: 4%;
}

#bi h2 {
    color: #1E1E1E;
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
}

#bi p {
    color: white;
    font-size: 32px;
    font-weight: 500;
    line-height: 42.5px;
    margin-top: 2%;
}

/* our services */

#our-services {
    width: 100%;
    height: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 4%;
    font-family: 'DM Sans', sans-serif;
}

#our-services h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;



}

.blue-word {
    color: #4845D2;
}

.black-word {
    color: #1E1E1E;
}

.services-main {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1%;
    padding: 4%;
}

.bi-parts {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15%;
}

.bi-parts-span {
    font-family: 'DM Sans', sans-serif;

    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #000000;
}

/* Transform your business */
#trns-business {
    width: 100%;
    height: auto;
    padding: 4%;
    background: #E2E5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'DM Sans', sans-serif;
}

#trns-business h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 32px;
    color: #1E1E1E;
}

#trns-business div {
    width: 332px;
    height: 64px;
    border-radius: 12px;
    background: #4845D2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.trns-button{
    font-size: 28px;
    font-weight: 500;
    line-height: 72px;
}
#trns-business div:hover{
    cursor: pointer;
    background: #1E1E1E;
}

/* Challenges Faced */

#challenges {
    width: 100%;
    height: auto;
    padding: 4%;
    font-family: 'DM Sans', sans-serif;

}

#challenges h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 4%;
}

/* .challenges-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
} */
.first-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-bottom: 4%;
}
.second-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.challenges-parts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challenges-parts span {
    margin-top: 4%;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

/* Our Approach */
#our-approach {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    font-family: 'DM Sans',sans-serif;
}

#our-approach h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 4%;
}

.approach-main {
    display: flex;
    gap: 2%;
}

.approach-parts {
    width: 246px;
    height: 299px;
    border-radius: 8px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
    padding: 3%;
}

.approach-parts h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.approach-parts p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.5px;
    text-align: start;
}

/* Industries we have */

#industries {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F5F5F5;
}

#industries h3 {
    font-family: 'DM Sans', sans-serif;
    color: #4D4D4D;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 4%;

}

.industries-img {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 2%;
    padding: 4%;


}


.default-image,
.hover-image {

    object-fit: cover;
    /* Preserve aspect ratio while covering the container */
    transition: opacity 0.3s ease;
    /* Add a smooth transition effect */
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* Initially hide the hover image */
}

.image-container:hover .hover-image {
    cursor: pointer;
    opacity: 1;
    /* Show the hover image on hover */
}

.image-container {
    position: relative;
    overflow: hidden;
    /* border-radius: 50%; */
    border-radius: 12px;

}

.industries-blue-bottom {
    width: 100%;
    height: auto;
    background: #5D70D6;
    margin-bottom: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3%;
}


.industries-blue-bottom h4 {
    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: white;

}

.industries-blue-bottom div {
    width: 280px;
    height: 69px;
    border-radius: 8px;
    background: #E2E5F5;
    border: none;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 72px;
    padding: 1%;

}

/* FAQ */

#FAQ {
    width: 100%;
    height: auto;
    background: #E2E5F5;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#FAQ h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 72px;
    margin-bottom: 5%;
    color: #4D4D4D;
}

.accordion {
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-radius: 2%;
    border: 1px solid;
    border-image: linear-gradient(to top, rgb(80, 80, 80), white);
    border-image-slice: 1;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: transparent;
}

.accordion:after {
    content: '\02C4';
    /* Unicode character for Modifier Letter Up Arrowhead */
    color: 000000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\02C5';
    /* Unicode character for Modifier Letter Down Arrowhead */
}

.panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-button {
    margin-bottom: 2%;
    width: 1080px;
    height: 80px;

}


/* Footer */
iframe {
    width: 100%;
    height: 448px;
    border: 0;
    /* Set border to 0 to remove iframe border */
}


/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}



@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(93, 112, 214, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: 0 .5rem 1rem rgba(234, 237, 255, 1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        color: gray;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .dropdown-container {
        position: relative;
        text-align: center;
        width: 100%;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #E2E5F5;
        z-index: 1;
        border-radius: 4px;
    }

    .dropdown-container.active .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        /* Adjust the font size as needed */
        color: #4D4D4D;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
    }

    /* Business Intelligence */

    #bi h2 {
        font-size: 48px;
        /* Adjust the font size for smaller screens */
        line-height: 56px;
    }

    #bi p {
        font-size: 24px;
        /* Adjust the font size for smaller screens */
        line-height: 34.5px;
    }


    /* Our Services */

    #our-services h3 {
        font-size: 32px;
        line-height: 44px;
    }

    .services-main {
        grid-template-columns: auto auto;
        gap: 10%;
    }

    .bi-parts {
        gap: 10%;
    }

    .bi-parts span {
        font-size: 12px;
        line-height: 20px;
    }

    /* Transform your Business */

    #trns-business {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        align-items: center;
        text-align: center;
    }

    #trns-business h3 {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 10px;
    }

    #trns-business div {
        width: 100%;
        /* Make the button full width on smaller screens */
    }

    /* Challenges Faced */

    .challenges-main {
        grid-template-columns: repeat(2, 1fr);
    }


    /* Our Approach */

    .approach-main {
        flex-direction: column;
        align-items: center;
    }

    .approach-parts {
        width: 100%;
        max-width: 400px;
        /* Adjust the max-width as needed */
        margin-bottom: 4%;
    }


    /* Industries we have */

    .industries-img {
        grid-template-columns: 1fr;
        /* Set a single column for smaller screens */
    }

    .industries-img .image-container {
        width: 100%;
        /* Make each image container take full width */
        margin-bottom: 10px;
        /* Add some spacing between stacked images */
    }

    #industries h3 {
        text-align: center;
        /* Center-align for screens up to 768px */
    }

    .industries-blue-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .industries-blue-bottom div {
        margin-top: 10px;
        /* Add space between the divs */
    }

    /* FAQ */

    #FAQ {
        padding: 3%;
        /* Adjust padding as needed */
    }

    #FAQ h1 {
        font-size: 60px;
        /* Adjust font size as needed */
        line-height: 52px;
        /* Adjust line height as needed */
    }

    .accordion-button {
        width: 100%;
        /* Make the buttons full width in mobile view */
    }

    .accordion {
        padding: 15px;
        /* Adjust padding as needed */
    }

    /* footer */
    iframe {
        height: 300px;
        /* Adjust the height as needed for smaller screens */
    }

}

@media (max-width: 480px) {

    /* Business Intelligence */


    #bi h2 {
        font-size: 36px;
        /* Adjust the font size for even smaller screens */
        line-height: 44px;
    }

    #bi p {
        font-size: 20px;
        /* Adjust the font size for even smaller screens */
        line-height: 30.5px;
    }

    /* Our Services */

    #our-services h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .services-main {
        grid-template-columns: auto;
        gap: 5%;
        margin-bottom: 10%;
    }

    .bi-parts {
        gap: 5%;
    }

    .bi-parts span {
        font-size: 10px;
        line-height: 18px;
    }

    /* Adjust background-size for mobile view */
    #our-services {
        background-size: auto;
        /* or contain, or specify a size that works for your design */
    }
}