* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {

    min-height: 100vh;
    margin: 0;

}

/* Navbar */


.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 1.3rem 10%;

    box-shadow: 6px 6px 6px rgba(147, 147, 147, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #FFFFFF, transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    width: 143px;
    height: 76px;
}

.navbar a {
    font-size: 1.15rem;
    color: rgba(30, 30, 30, 1);
    text-decoration: none;
    font-weight: 400;
    margin-left: 2.5rem;
}

.navbar a:hover {
    color: #5D70D6;
    text-decoration: underline;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: rgba(30, 30, 30, 1);
    cursor: pointer;
    display: none;
}

/* Style the button and dropdown container */
.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-button {

    border: none;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E2E5F5;

    width: 265px;
    height: 245px;
    z-index: 1;
    border-radius: 4px;

}

/* Style the dropdown links inside the container */
.dropdown-content a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4D4D4D;
    padding: 2%;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    color: #5D70D6;
    text-decoration: underline;
}

/* Show the dropdown content when the button is clicked */
.dropdown-container.active .dropdown-content {
    display: block;
}




/* 360 data */
#data {
    width: 100%;
    height: auto;
    background: url('/image/dataMng.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'DM Sans', sans-serif;
    padding: 4%;

}

#data h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
    color: #1E1E1E;
}

#data p {
    color: white;
    font-size: 32px;
    font-weight: 500;
    line-height: 42.5px;
}

/* our services  */
#our-services {
    width: 100%;
    height: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 4%;
    font-family: 'DM Sans', sans-serif;
}

#our-services h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
}

.blue-word {
    color: #4845D2;
}

.black-word {
    color: #1E1E1E;
}

.our-services-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 24px;
    padding: 4%;
}

.our-bi-parts {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.our-bi-parts span {
    font-size: 24px;
    font-weight: 500;
    line-height: 52px;
}

/* Experience */
#experience {
    background: #E2E5F5;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
}

#experience h2 {
    color: #1E1E1E;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
}

.experience-btn {
    background-color: #4845D2;
    width: 332px;
    height: 64px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    font-weight: 500;
    line-height: 72px;
}

/* DE & DM */

#de-dm {
    width: 100%;
    height: auto;
    font-family: 'DM Sans', sans-serif;
    padding: 4%;


}

#de-dm h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #1E1E1E;
    margin-bottom: 8%;
}

.services-main {
    display: flex;
    justify-content: space-evenly;

}

.bi-parts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bi-parts span {
    color: #000000;
    font-size: 24px;
    font-weight: lighter;
    line-height: 40px;
    text-align: center;
}

/* Technology We Work On */

#tech {

    width: 100%;
    height: auto;
    background: linear-gradient(135deg, rgb(35, 45, 131), rgb(61, 34, 125), rgb(121, 35, 130));
    font-family: 'DM Sans', sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 72px;
    color: #E2E5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-bottom: 0;
    margin-top: 0;
}

#tech h2 {
    margin-top: 5%;
}

.tech-img {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 2%;
    padding: 4%;
}

.img-container {
    width: 177px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}
.img-container img{
    transition: opacity 0.3s ease;

}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}


.img-container:hover .hoverImage {
    cursor: pointer;
    opacity: 1;
    /* Show the hover image on hover */
}





/* Challenges Faced */


#challenges {
    background: #F5F5F5;
    padding: 4%;
}


/* Gray Part */
#gray {
    height: auto;
    width: 100%;
    background: #DDDDDD;
    padding: 4%;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gray h3 {
    color: #1E1E1E;
    font-size: 32px;
    font-weight: lighter;
    line-height: 42.5px;
}

.gray-btn {
    width: 262px;
    height: 48px;
    border-radius: 15px;
    background: #1E1E1E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

/* Industries we have */

#industries {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#industries h3 {
    font-family: 'Bebas Neue', sans-serif;
    color: #4D4D4D;
    font-weight: 400;
    font-size: 64px;
    text-align: center;

}

.industries-img {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 2%;
    padding: 4%;


}

.default-image,
.hover-image {

    object-fit: cover;
    /* Preserve aspect ratio while covering the container */
    transition: opacity 0.3s ease;
    /* Add a smooth transition effect */
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* Initially hide the hover image */
}

.image-container:hover .hover-image {
    opacity: 1;
    /* Show the hover image on hover */
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.industries-blue-bottom {
    width: 100%;
    height: auto;
    background: #8c9bf0;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.industries-blue-bottom h4 {
    font-family: 'Bebas Neue', sans-serif;
    color: #1E1E1E;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2%;

}

.industries-blue-bottom div {
    width: 385px;
    height: 66px;
    border-radius: 8px;
    background: #5D70D6;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1%;

}

/* Blue Part */

#blue-part {
    height: auto;
    width: 100%;
    background: #5D70D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
}

#blue-part h3 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
}

.blue-part {
    background: #E2E5F5;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 64px;
    border-radius: 8px;
}


/* FAQ */

#FAQ {
    width: 100%;
    height: auto;
    background: #E2E5F5;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#FAQ h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 72px;
    margin-bottom: 5%;
    color: #4D4D4D;
}

.accordion {
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-radius: 2%;
    border: 1px solid;
    border-image: linear-gradient(to top, rgb(80, 80, 80), white);
    border-image-slice: 1;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: transparent;
}

.accordion:after {
    content: '\02C4';
    /* Unicode character for Modifier Letter Up Arrowhead */
    color: 000000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\02C5';
    /* Unicode character for Modifier Letter Down Arrowhead */
}

.panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-button {
    margin-bottom: 2%;
    width: 1080px;
    height: 80px;

}



/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(93, 112, 214, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: 0 .5rem 1rem rgba(234, 237, 255, 1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        color: gray;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .dropdown-container {
        position: relative;
        text-align: center;
        width: 100%;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #E2E5F5;
        z-index: 1;
        border-radius: 4px;
    }

    .dropdown-container.active .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        /* Adjust the font size as needed */
        color: #4D4D4D;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
    }

    /* 360 Data */

    #data h1 {
        font-size: 40px;
        /* Adjust the font size for smaller screens */
        line-height: 54px;
    }

    #data p {
        font-size: 24px;
        /* Adjust the font size for smaller screens */
        line-height: 32px;
    }

    /* our services  */

    .services-main {
        grid-template-columns: auto;
        /* Set to a single column on smaller screens */
        justify-content: center;
        gap: 2%;
        padding: 4%;
    }

    /* Experience */
    #experience {
        flex-direction: column;
        /* Stack elements vertically */
        text-align: center;
    }

    .experience-btn {
        margin-top: 10px;
        /* Adjust spacing between elements */
    }


    /* DE & DM */
    #de-dm {
        text-align: center;
    }

    .services-main {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        align-items: center;
    }

    .bi-parts {
        margin-bottom: 20px;
        /* Add spacing between items on smaller screens */
    }

    /* Challenges Faced */
    .services-main {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        align-items: center;
    }

    .bi-parts {
        margin-bottom: 20px;
        /* Add spacing between items on smaller screens */
    }

    /* Technology we work on */

    .tech-img {
        grid-template-columns: auto auto;
    }

    #tech h2 {
        width: 100%;
        font-size: 42px;
        text-align: center;
    }

    .img-container {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
    }

    /* Gray Part */

    #gray h3 {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }

    .gray-btn {
        width: 200px;
        height: 40px;
        font-size: 18px;
    }

    /* Industries we have */
    #industries h3 {
        font-size: 40px;
    }

    .industries-img {
        grid-template-columns: auto;
    }

    .industries-blue-bottom h4 {
        font-size: 24px;
    }

    /* blue part */

    #blue-part {
        flex-direction: column;
        text-align: center;
    }

    #blue-part h3 {
        margin-bottom: 10px;
    }

    /* FAQ */

    .accordion-button {
        width: 90%;
        /* Adjust width for smaller screens */
    }

}


/* @media only screen and (min-width: 1024px) {
    .tech-img {
        grid-template-columns: auto auto auto;
    }
} */