* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    min-height: 100vh;
    margin: 0;

}

/* Navbar */


.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 1.3rem 10%;
    /* background: #FFFFFF;
    backdrop-filter: blur(50px); */
    box-shadow: 6px 6px 6px rgba(147, 147, 147, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #FFFFFF;
    backdrop-filter: blur(50px); */
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    /* left: 0; */
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #FFFFFF, transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    width: 143px;
    height: 76px;
}

.navbar a {
    /* font-size: 24px; */
    font-size: 1.15rem;
    color: rgba(30, 30, 30, 1);
    text-decoration: none;
    font-weight: 400;
    margin-left: 2.5rem;
}

.navbar a:hover {
    color: #5D70D6;
    text-decoration: underline;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: rgba(30, 30, 30, 1);
    cursor: pointer;
    display: none;
}

/* Style the button and dropdown container */
.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    /* padding: 10px; */
    /* background-color: #3498db; */
    /* color: rgba(226, 229, 245, 1); */
    border: none;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E2E5F5;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    /* min-width: 160px; */
    width: 263.08px;
    height: 170px;
    z-index: 1;
    border-radius: 4px;

}

/* Style the dropdown links inside the container */
.dropdown-content a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    size: 20px;
    color: #4D4D4D;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    color: #5D70D6;
    text-decoration: underline;
}

/* Show the dropdown content when the button is clicked */
.dropdown-container.active .dropdown-content {
    display: block;
}


/* Our Clients */
#clients {
    background-color: #F5F5F5;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 40px;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.client h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    /* font-weight: 400; */
    color: #4D4D4D;
    margin-bottom: 20px;

}

.image-row {
    display: flex;
    /* align-items: center;
    justify-content: space-around; */
    justify-content: center;
    gap: 56px;
    /* Adjust the gap between images */
    margin-bottom: 20px;
}

.image-row img {
    max-width: 100%;
    height: auto;
}

/* .centered-heading {
    margin-bottom: 10px;

    /* text-align: center; *
}
.two-line-heading{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    color: #4D4D4D;
    display: flex;
    flex-direction: column;
    /* align-items: center; *
} */
.client-image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

/* Works Counter */

#works-counter{
    width: 100%;
    height: auto;
    background:#1E1E1E ;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.number-set h3{
    color: #5D70D6;
    font-family: 'Poppins',sans-serif ;
    font-size: 80px;
    font-weight: bolder;
    line-height: 72px;
}
.number-set h6{
    color: #D8DEFF;
    font-family: 'Poppins',sans-serif;
    font-weight: lighter;
    font-size: 20px;
    line-height: 32px;
}

/* Transform your business */
#trans-busns {
    height: 100vh;
    /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    background: url('/image/PropertyDefault.png') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'DM Sans',sans-serif;

}
#trans-busns h1 {
   font-weight: bold;
   font-size: 64px;
   line-height: 113%;
   margin-bottom: 3%; 
}
.black-word{
    color: #1E1E1E;
}
.blue-word{
    color: #5D70D6;
}
#trans-busns h4 {
    font-weight: lighter;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 3%;
}
.trans-busns-button{
    width: 207px;
    height: 59px;
    background: #1E1E1E;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}


/* Our Services */

#our-services{
    width: 100%;
    height: auto;
    background: #F5F5F5;
    font-family: 'DM Sans',sans-serif;
    padding: 4%;
    /* position: absolute;
    z-index: 2; */
}
.our-services-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-services-text h2{
    font-weight: bold;
    font-size: 60px;
    line-height: 52px;
    margin-bottom: 3%;
}
.our-services-text p{
    font-weight: lighter;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 3%;
    color: #7A7A7A;
}
.our-services-cards{
    display: flex;
    gap: 4%;
    margin-bottom: 4%;
}
.our-services-card{
    background: white;
    border: 4px silver;
    width: 370px;
    height: 278px;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.our-services-card h5{
    font-weight: lighter;
    font-size: 22px;
    line-height: 32px;
    color: #414141;
    margin-bottom: 5%;

}
.our-services-card p{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #414141;
    margin-bottom: 5%;

}

/* Contact Us Button */

#contact-btn{
    background: bisque;
    width: 1080px;
    height: 132px;
    border-radius: 75px;
    /* margin: 8%; */
    /* position: absolute;
    z-index: 1; */
    /* margin-left:  12%; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Technology We Work On */
#tech{
    /* position: absolute;
    z-index: -1; */
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, rgb(35, 45, 131), rgb(61, 34, 125), rgb(121, 35, 130));
    font-family: 'DM Sans',sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 72px;
    color: #E2E5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-bottom: 5%;
}
.tech-img{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 2%;
    padding: 4%;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(93, 112, 214, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: 0 .5rem 1rem rgba(234, 237, 255, 1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        color: gray;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .dropdown-container {
        position: relative;
        text-align: center;
        width: 100%;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #E2E5F5;
        z-index: 1;
        border-radius: 4px;
    }

    .dropdown-container.active .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        /* Adjust the font size as needed */
        color: #4D4D4D;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
    }
}