* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {

    min-height: 100vh;
    margin: 0;

}

/* Navbar */


.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 1.3rem 10%;

    box-shadow: 6px 6px 6px rgba(147, 147, 147, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #FFFFFF, transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    width: 143px;
    height: 76px;
}

.navbar a {
    font-size: 1.15rem;
    color: rgba(30, 30, 30, 1);
    text-decoration: none;
    font-weight: 400;
    margin-left: 2.5rem;
}

.navbar a:hover {
    color: #5D70D6;
    text-decoration: underline;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: rgba(30, 30, 30, 1);
    cursor: pointer;
    display: none;
}

/* Style the button and dropdown container */
.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-button {

    border: none;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E2E5F5;

    width: 263.08px;
    height: 170px;
    z-index: 1;
    border-radius: 4px;

}

/* Style the dropdown links inside the container */
.dropdown-content a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    size: 20px;
    color: #4D4D4D;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    color: #5D70D6;
    text-decoration: underline;
}

/* Show the dropdown content when the button is clicked */
.dropdown-container.active .dropdown-content {
    display: block;
}


/* Our Clients */
#clients {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 40px;
}



#clients h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    color: #4D4D4D;
    margin-bottom: 4%;

}

.image-row {
    display: flex;

    justify-content: center;
    gap: 56px;
    /* Adjust the gap between images */
    margin-bottom: 20px;
}

.image-row img {
    max-width: 100%;
    height: auto;
}


.client-image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}


/* Works Counter */

#works-counter {
    width: 100%;
    height: auto;
    background: #1E1E1E;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.number-set h3 {
    color: #5D70D6;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: bolder;
    line-height: 72px;
}

.number-set h6 {
    color: #D8DEFF;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    line-height: 32px;
}

/* Transform your business */
#trans-busns {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    background: url('/image/PropertyDefault.png') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'DM Sans', sans-serif;

}

#trans-busns h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 113%;
    margin-bottom: 3%;
}

.black-word {
    color: #1E1E1E;
}

.blue-word {
    color: #5D70D6;
}

#trans-busns h4 {
    font-weight: lighter;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 3%;
}

.trans-busns-button {
    width: 207px;
    height: 59px;
    background: #1E1E1E;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}


/* Overlapping content */
.overlap-content {

    position: relative;

    display: flex;
    flex-direction: column;
}

.overlapping {
    position: relative;

}

/* Our Services */

#our-services {
    width: 100%;
    height: auto;
    background: #F5F5F5;
    font-family: 'DM Sans', sans-serif;
    padding: 4%;


}

.our-services-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-services-text h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 52px;
    margin-bottom: 3%;
}

.our-services-text p {
    font-weight: lighter;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 3%;
    color: #7A7A7A;
}

.our-services-card {
    background: white;
    border: 4px silver;
    width: 370px;
    height: 278px;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-services-card h5 {
    font-weight: lighter;
    font-size: 22px;
    line-height: 32px;
    color: #414141;
    margin-bottom: 5%;

}

.our-services-card p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #414141;
    margin-bottom: 5%;

}

.our-services-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin-bottom: 4%;

}

/* Contact Us Button */

#contact-btn {
    background: white;
    width: 1080px;
    height: 132px;
    border-radius: 75px;
    position: absolute;
    left: 15%;
    z-index: 1;
    margin: auto;

    display: flex;
    align-items: center;
    top: 0;
    bottom: 8%;
    padding-left: 8%;
    gap: 4%;


}

#contact-btn h4 {
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
}

.query-btn,
.email-btn {
    background: #B7B7B7;
    border-radius: 22px;
    border: 1px solid #7A7A7A;
    color: #7A7A7A;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 152px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black-btn {
    width: 152px;
    height: 48px;
    background: #1E1E1E;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6%;

}

/* Technology We Work On */
#tech {

    width: 100%;
    height: auto;
    background: linear-gradient(135deg, rgb(35, 45, 131), rgb(61, 34, 125), rgb(121, 35, 130));
    font-family: 'DM Sans', sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 72px;
    color: #E2E5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-bottom: 0;
    margin-top: 0;
}

#tech h2 {
    margin-top: 5%;
}

.tech-img {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 2%;
    padding: 4%;
}

.img-container {
    width: 177px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}



/* What they say */
#say {
    width: 100%;
    height: auto;
    background: #F5F5F5;
    overflow: hidden;



}

#say h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 72px;
    color: #1E1E1E;
    padding: 40px;

    margin-bottom: 20px;

}


.say-card {

    width: 504.5px;
    /* Adjust the width as needed */
    height: 420px;
    padding: 20px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(79, 65, 164, 0.57), rgba(255, 255, 255, 0.1));
    border: 1px solid linear-gradient(rgba(255, 255, 255, 1), rgba(163, 119, 255, 1));
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    position: relative;

}

.say-card-container {
    background-color: rgba(250, 250, 250, 1);
    width: 459px;
    float: left;
    height: 225px;
    padding: 30px;
    border-radius: 21.77px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.say-card-texting {
    width: 42%;
}

.say-content {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.99px;
}

.say-rating {
    font-size: 24px;
    margin-bottom: 10px;
    color: orange;
}

.say-mini-heading {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.say-card-texting h6 {
    color: rgba(128, 128, 128, 1);
    font-size: 10px;
    font-weight: lighter;
}

.say-card-img {
    margin-top: 180px;
    width: 243.42px;
    height: 364.5px;

}

.say-play-button {
    width: 56.76px;
    height: 56.76px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20.18px;
    margin-left: 170px;
    margin-top: 170px;

}

.say-card-collection {
    display: flex;

    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 20px;
    scrollbar-width: none;
    /* Firefox - hide scrollbar */
    -ms-overflow-style: none;
    /* IE/Edge - hide scrollbar */

}

.say-card-collection::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari/Opera - hide scrollbar */
}

/* Industries we work in */
#industries {
    background: white;
    width: 100%;
    height: auto;
}

#industries h2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 72px;
    padding: 4%;
}

.industries-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 2%;
    padding: 4%;
}

.icon-set {
    width: 292px;
    height: 216px;
    border-radius: 20px;
    background: #F5F5F5;
    border: 1px solid #B7B7B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.icon-set h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 3%;
    color: #1E1E1E;
}



/* why choose us */
#choose {
    background: #F5F5F5;
    width: 100%;
    height: auto;
    padding: 4%;

}

#choose h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 72px;
}

.choose-main {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 2%;
    padding: 4%;
}

.choose-parts {
    width: 522px;
    height: 150px;
    border-radius: 8px;
    background: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.choose-parts span {
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
    font-size: 32px;
}

/* build Something */

#build-something {
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, rgb(35, 45, 131), rgb(61, 34, 125), rgb(121, 35, 130));
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4%;
}

#build-something h2 {
    font-size: 56px;
    font-weight: bold;
    line-height: 72px;
    color: white;
    margin-bottom: 2%;
}

.build-button {
    width: 347px;
    height: 65px;
    border-radius: 8px;
    background: #E2E5F5;
    color: #000000;
    font-size: 28px;
    font-weight: lighter;
    line-height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(93, 112, 214, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: 0 .5rem 1rem rgba(234, 237, 255, 1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        color: gray;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .dropdown-container {
        position: relative;
        text-align: center;
        width: 100%;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #E2E5F5;
        z-index: 1;
        border-radius: 4px;
    }

    .dropdown-container.active .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        /* Adjust the font size as needed */
        color: #4D4D4D;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
    }

    /* Transform your business */

    #trans-busns h1 {
        font-size: 48px;
    }

    #trans-busns h4 {
        font-size: 18px;
    }

    .trans-busns-button {
        font-size: 16px;
    }

    /* Our Services , contacts ,overlapping*/

    .our-services-text h2 {
        font-size: 40px;
    }

    .our-services-text p {
        font-size: 18px;
    }

    .our-services-card {
        width: 90%;
        height: auto;
    }

    #contact-btn {
        width: 90%;
        padding-left: 5%;
    }


}

@media only screen and (max-width: 480px) {
    .our-services-text h2 {
        font-size: 30px;
    }

    .our-services-text p {
        font-size: 16px;
    }

    .our-services-card {
        width: 100%;
        height: auto;
    }

    #contact-btn {
        width: 100%;
    }
}